
  <h4>Joke category:</h4>
  <select [(ngModel)]="category">
    <option disabled selected value> -- select an option -- </option>
    <option value="Dark">Dark - warning: VERY dark
    <option value="Programming">Programming
    <option value="Miscellaneous">Miscellaneous
  </select>
  <h4><br>Blacklisted topics:</h4>
  <input type="radio" [(ngModel)]="blacklist" value="political">Politics
  <input type="radio" [(ngModel)]="blacklist" value="nsfw">NSFW
  <input type="radio" [(ngModel)]="blacklist" value="religious">Religious<br><br>
  <button (click)="search()">Search</button><hr>

<div *ngIf="response">
  <h2>{{response.joke}}{{response.setup}}<br><span class="text-primary">{{response.delivery}}</span></h2>
</div>
  <br><h3>History:</h3><br>
  <ul class="list-group" *ngFor="let i of res">
    <li class="list-group-item"><h2>{{storage[i].single}}{{storage[i].setup}}<br><span class="text-primary">{{storage[i].delivery}}</span></h2>
    </li>
  </ul>
